* {
	font-family: cursive;
	font-size: 20px;
  color: blueviolet;
}
#container {
	border: 55px solid green;
	background-color: goldenrod;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: auto;
	align-content: center;
	text-align: center;
	padding: 0;
	margin: 0;
}
