html, body {
  margin: 0;
  background-color: #0ec0c0;
  text-align: center;
}
#puzzle{
      width: auto;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      border: 20px solid rgb(231, 61, 9);
      border-radius: 14px;
     background-color: sienna; 
 }

 

 #controls{text-align: center;}
#controls input, button {
	cursor: pointer;
	outline: none;	
	padding: 20px 30px;
	margin: 25px 2px;
	border: 0;
	border-radius: 4px;
	background: #001F1F;
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
}
#controls input:hover{background: #2b0cdd;}
button:hover{background: #2b0cdd;}
 

 #banner{
  font-family: cursive;
	margin-left: auto;
	margin-right: auto;
	background-color: #003333;
	padding: 3px;
	color: antiquewhite;
	text-align: center;
	font-size: 40px;
 }
 .tile {
  cursor: pointer;
    width: 120px;
   height: 120px;
       border: 3px solid black;
      text-align: center;
      font: bold 56px/80px Arial;
      -webkit-transition: 0.15s left, 0.15s top;
 	transition: 0.15s left, 0.15s top;
   background: transparent;
  text-shadow: -2px -2px 0 rgba(236, 10, 10, 0.5);
   color: green;
     }
     
     .emptyTile {
           width: 50px;
           height: 50px;
          text-align: center;
          background-color:  rgba(0,0,0, 0.5);
         }

         #movetracker{
           text-align: center;
         }
         #moves {
               border: 2px solid #222;
           
               background: rgb(27, 27, 27);
               font-weight: bold;
              padding: 2px 5px;
              color: green;
              
            }
             /* end fifteen game */
             
           
             .modal {
              display: none; /* Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 1; /* Sit on top */
              left: 0;
              top: 0;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              overflow: auto; /* Enable scroll if needed */
            }
            
            /* Modal Content/Box */
            .modal-content {
              background-color:  antiquewhite;
              margin: 15% auto; /* 15% from the top and centered */
              padding: 20px;
              border: 1px solid  rgb(34, 13, 1);
              width: 80%; 
              text-align:center;
            }
            
            /* The Close Button */
            .close {
              color: #aaa;
              float: right;
              font-size: 28px;
              font-weight: bold;
            }
            
            .close:hover,
            .close:focus {
              color: black;
              text-decoration: none;
              cursor: pointer;
            }