#byte{
    text-align: center;
    font-family: 'Pacifico', cursive;
    
}
body{
    background-image: linear-gradient(135deg, black 50%, cyan );
    color:white;  
    margin:0;
    padding:0;
}
#byte{
    font-size: 50pt;
}
h2{
text-align:center;
}

/* *					{ margin: 0; padding: 0; } */
/* body				{ font: 14px Georgia, serif; } */

#page-wrap		    { width: 500px; margin: 0 auto; }



#quiz input {
    vertical-align: middle;
}

#quiz ol {
   margin: 0 0 10px 20px;
}

#quiz ol li {
   margin: 0 0 20px 0;
}

#quiz ol li div {
   padding: 4px 0;
}

#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666;
}

#results {
    font: 44px Georgia, Serif;
}
input[submit]{
    text-align: center;
}