body{
	background-color: #0ec0c0;
}

::selection {background: transparent;}
p{margin: 0; font: 12px/150% Arial; text-align: center; color: green; font-size: larger; font-size: 30px;}
p a{color: red; 
}

#controls{text-align: center;}
#controls button{
	cursor: pointer;
	outline: none;	
	padding: 20px 30px;
	margin: 25px 2px;
	border: 0;
	border-radius: 4px;
	background: #001F1F;
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
}
#controls button:hover{background: #2b0cdd;}

#puzzle{
	position: relative;
	width: 485px;
	height: 485px;
	margin: 0 auto;
	margin-top: 80px;
	border: 20px solid rgb(231, 61, 9);
	border-radius: 14px;
}
#puzzle span{
	position: absolute;
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 10px;
}
#puzzle span.number{
	cursor: pointer;
	font: bold 56px/80px Arial;
	text-align: center;
	text-shadow: -2px -2px 0 rgba(236, 10, 10, 0.5);
	color: green;
}
#puzzle span.empty{background: transparent;}
#puzzle span.number.light{background: rgb(27, 27, 27);}
#puzzle span.number.dark{background: rgb(34, 13, 1);}

#puzzle.animate span{
	-webkit-transition: 0.15s left, 0.15s top;
 	transition: 0.15s left, 0.15s top;
}
#banner{
	font-family: cursive;
	margin-left: auto;
	margin-right: auto;
	background-color: #003333;
	padding: 3px;
	color: antiquewhite;
	text-align: center;
	font-size: 40px;
}